<% if user_signed_in? %>

  <p style="color: green"><%= notice %></p>

  <table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Delete', friend, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?',  "turbo-method": :delete }, method: :delete %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>

<% else %>
  <h1>Hello World!</h1>
<% end %>